@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');

html, body{
	font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #303030;
    min-height: 100%;
	height: 100%;
	background: #eeeeee;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

h1, h2, h3, p, ul {
	margin: 0;
}

/* Layout */
.ba-container{
	max-width: 1240px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

/* First section*/
a{
	display: inline-block;
	text-decoration: none;
	color: #303030;

}

/* Header */
header {
	padding: 2.67rem 0 5.166rem 0;
	width: 100%;
}

.logo {
	vertical-align: middle;
	width: 23%;
}

header nav {
	display: inline-block;
	vertical-align: middle;
	width: 77%;
	text-align: right;
}

h1 {
	font-family: 'Roboto', sans-serif;
    font-size: 2.67rem;
    font-weight: 900;
    line-height: 1;
    text-align: left;

}

header ul {
	list-style: none;
	padding: 0;
}

header ul li {
	display: inline-block;
	line-height: 1.33;
}

header nav a {
	display: inline-block;
	padding-left: 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
    line-height: 1.33;
}

header nav a:hover{
	color: #e10011;
}

/* slider */
.content-slider {
	display: inline-block;
	width: 51.25%;
	text-align: right;
	vertical-align: top;
}

.content-slider h2 {
	font-size: 8.333rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    word-wrap: break-word; /* Перенос слов */
}

.content-slider p {
	display: inline-block;
	font-size: 1.333rem;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 1.5rem;
}

.content-slider a{
    display: inline-block;
    font-size: 1.333rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-top: 0.75rem;
}

.content-slider a:hover {
	color: #e10011 ;
}

.img-slider {
	display: inline-block;
	width: 48.75%;
	padding-left: 5.78rem;
	padding-right: 6.33rem;
}

main {
	padding-top: 10rem;
}
/* featured-work */
.featured-work {
    background: #fff;
    text-align: center;
}

.wraper {
	max-width: 48.8%;
	margin: 0 auto;
}

.wraper h2 {
	font-size: 2.67rem;
    font-weight: 900;
    line-height: 1.5;
    padding-top: 5.4rem;
}

.wraper p {
    font-weight: 400;
    line-height: 1.33;
}

.wraper-grid {
	padding: 4rem;
}

.ba-grid + .ba-grid {
    margin-top: 2rem;
}

.ba-grid > [class*="ba-width-"] {
    float: left;
    padding-left: 2rem;
}

.img-wrap {
	position: relative;
	transition: all 0.5s ease;
}

.img-wrap .hover-img {
	display: none;
}

.img-wrap:hover .hover-img {
	display: block;
	position: absolute;
	background: rgba(225,0,17,0.8);
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	color: #fff;
}

.img-wrap .hover-img .hover-text {
    position: relative;
    padding-left: 1rem;
    text-align: left;
    top: 70%;
}
.img-wrap .hover-img .hover-text p,
.img-wrap .hover-img .hover-text h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1.67rem;
}

.img-wrap .hover-img .hover-text p {
	text-decoration:underline;
	line-height: 1.2;
}


/* Opt-in */
.opt-in .wraper h2 {
	padding-top: 4.25rem; 
}

.vvod {
	max-width: 58.5%;
	margin: 0 auto;
	padding-top: 2.3rem;
}
.vvod input,
.vvod span {
	display: inline-block;
	height: 4rem;
	border: none;
	outline:none;
	font-size: 1rem;
}
.input-group-email {
	font-size: 0;
}

.vvod span {
	width: 8% ;
	border-radius: 36px 0 0 36px;
	background: #fff;
	line-height: 4rem;
    color: #979797;
}


.vvod input[type="email"] {
	width: 62.4% ;
	font-weight: 600;
    font-style: italic;
}

.vvod input[type="button"] {
	width: 29.6% ;
	border-radius: 0 36px 36px 0;
	text-transform: uppercase;
	color: #fff;
	background: #e10011;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.vvod input[type="button"]:hover {
	color: #e10011;
	background: #fff;
	border: 1px solid #e10011;
}

/*Footer*/
.ba-footer {
	padding-top: 6.33rem;
}

.social-icon {
    max-width: 30%;
    margin: 0 auto;
}

.social {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    background: #fff;
    line-height: 70px;
    vertical-align: middle;
    color:  #979797;
    border-radius: 50%;
    font-size: 34px;
}

.social-m {
	margin-right:0;
}


.ba-footer p {
	padding: 3.34rem 0 1.67rem 0;
	color: #979797;
}

.ba-footer span {
	color: #000;
}

